 #customSearch button {
     margin-left:auto;
     margin-right:auto;
     display: block;
 }
 
 #customSearch button {
     margin-left: 45%;
 }
 
 body {
     background-color: #D4C7B5;
     /*
    background: url("../bg.jpg");
    background-size: cover;*/
 }
 
 img {
     width: 200px;
     height: 200px;
     margin-left: auto;
     margin-right: auto;
     display: block;
 }
 
 h3 {
     color: black;
 }
 
 .search:hover {
     cursor: pointer;
 }
 
 .random-btn {
     background: tomato;
 }
 
 ::placeholder {
     color: black;
     font-size: 2rem;
 }
 
 .search-icon {
     font-size: 2.8rem;
     display: flex;
 }
