#customSearch {
    padding: 20% 20% 0% 20%;
}

#customSearch button {
    margin-left: 45%;
}

body {
    background-color: #cdcfd3;
}

img {
    width: 100px;
    height: 100px;
    margin-left: 40%;
}

h3 {
    color: black;
}

.search:hover {
    cursor: pointer;
}